
.button-yoursize{
    position: absolute;
    bottom: 36px;
    left: 70%;
    z-index: 999;
    width: max-content;
}
.size-wrap{
	position: relative;
}
.button-yoursize button.customize{
	background-color: #7f4ee6;
    border: 0;
    outline: none;
    border-radius: 5px;
    padding: 8px 30px 10px;
}
.button-yoursize button.customize span{
	color: #fff;
    font-size: 12px;
    font-weight: 600;
}
.custom-dimension{
	position: absolute;
	display: block;
	margin: 0;
	border-radius: 10px;
	opacity: 0;
    visibility: hidden;
    z-index: -1;
    -webkit-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: all .3s;
    transition: all .3s;
    min-width: 350px;
    right: 0;
    top: calc(100% + 8px);
    background: #fff;
    padding: 15px;
}
.dimension-content{
	display: flex;
}
.dimension-input input{
	width: 100px;
}
.dimension-input label{
	font-size: 11px;
	color: rgba(30,41,51,.45);
}
.custom-dimension.active{
	z-index: 1002;
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.dimension-unit{
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.custom-dimension .ui.selection.dropdown{
	min-width: 60px;
    font-size: 13px;
    padding: 8px 26px 8px 20px;
    min-height: 32px;
}
.custom-dimension .ui.selection.dropdown>.dropdown.icon{
	padding: 8px;
}
.create-design{
	margin-top: 15px;
}
.btn-create{
	background-color: #8d39fa;
	width: 100%;
	border: 1px solid #8d39fa;
	color: #fff;
	padding: 6px;
	font-size: 14px;
	font-weight: 600;
	border-radius: 5px;
}
.btn-create.btn-disabled{
	background-color: rgba(64,87,109,.07);
	border: 1px solid rgba(64,87,109,.07);
	color: rgba(43,59,74,.3);
	cursor: not-allowed;
}

/* pricing */
h1.page-title{
    color: rgba(17,23,29,.6);
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.price-desc{
    padding: 15px 0;
    text-align: center;
    color: #0e1318;
    font-size: 16px;
    background: #d1eefc;
    border-radius: 4px;
    margin-bottom: 20px;
}
.price-desc p{
    font-size: 16px;
}
.pricing-table{
    border-spacing: 0;
    border-collapse: separate;
    border: 1px solid #edf0f2;
    border-radius: 4px;
    text-align: center;
    color: #0e1318;
}
.pricing-table thead th , .pricing-table tr td.price-of-user{
    font-size: 25px;
    font-weight: 600;
}
.pricing-table thead th p{
    font-weight: 100;
    color: rgba(17,23,29,.6);
}
.pricing-table thead th .pro-head svg{
    color: #fbbe28;
    width: 32px;
    height: 32px;
    margin-right: 8px;
}
.pricing-table thead th .pro-head{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pricing-table tr{
    display: flex;
    flex-direction: row;
}
.pricing-table tr td, .pricing-table tr th{
    flex : 1;
    border: 0;
    padding: 15px;
}
.pricing-table tr td:first-child, .pricing-table tr th:first-child{
    border-right: 1px solid #edf0f2;
}
.pricing-table tr td a.button{
    width: 75%;
    font-size: 15px;
    text-transform: capitalize;
    padding: 5px 0;
    background-color: #7d2ae8;
    border-color: #7d2ae8;
}
.pricing-table tr td ul.feature{
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    width: 75%;
}
.pricing-table tr td ul.feature li{
    display: flex;
    margin-bottom: 16px;
}
.pricing-table tr td ul.feature li span.featue-check{
    color: #00c4cc;
    margin-top: 4px;
    margin-right: 16px;
}
.pricing-table tr td ul.feature li span.feature-text{
    font-size: 14px;
    line-height: 1.6;
}