/* .mt-check-garden {
	display: inline-block;
	box-sizing: border-box
}
.mt-check-garden label{
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	cursor: pointer;
    width: 40px;
    height: 20px;
	border-radius: 1.5em;
	background: #2e394d;
	border: none;
	transition: all .3s ease
}
.mt-check-garden label:before {
	content: "";
	display: block;
	position: absolute;
    width: 20px;
    height: 20px;
	border-radius: 2.5em;
	background: #f0134d;
	transition: .3s ease
} */
.mt-check-garden input {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.mt-check-garden label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: block;
  position: relative;
  cursor: pointer;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translateY(12%);
}

.mt-check-garden label:before {
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
.mt-check-garden label:before,
.mt-check-garden label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}

.mt-check-garden label:after {
  width: 18px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
.mt-check-garden input:checked + label:before {
  background-color: #4f5467;
}
.mt-check-garden input:checked + label:after {
  margin-left: 20px;
}
#image-fx-filter {
  list-style: none;
  /*margin: 0;
    padding: 0px;*/
  /* width: 280px;
    height: 230px;
    overflow: auto; */
  display: flex;
  flex-wrap: wrap;
}
#circle1 {
  width: 17px;
  height: 15px;
  border-radius: 50%;
  margin-left: 3px;
  cursor: pointer;
}
th:nth-child(1) {
  width: 30%;
}
.customize-color-picker {
  position: absolute;
  left: 115px;
  top: 121px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 1px 0 15px rgb(0 0 0 / 20%);
  box-shadow: 1px 0 15px rgb(0 0 0 / 20%);
  background-color: #fff;
  overflow: hidden;
  z-index: 9999;
}
.customize-color-picker-blend {
  position: absolute;
  left: 62px;
  top: 430px;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 1px 0 15px rgb(0 0 0 / 20%);
  box-shadow: 1px 0 15px rgb(0 0 0 / 20%);
  background-color: #fff;
  overflow: hidden;
  z-index: 9999;
}
.customize-color-picker-blend.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.customize-color-picker.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.customize-color-picker .nbd-button {
  margin-top: 0;
  margin-left: 11px;
  margin-bottom: 10px;
}
.customize-color-picker-blend .nbd-button {
  margin-top: 0;
  margin-left: 11px;
  margin-bottom: 10px;
}
td:nth-child(2) {
  width: 60%;
}
td:nth-child(3) {
  width: 10%;
}
.colum-2-customize .label-color-customzie {
  position: relative;
  top: 0;
  transform: translateY(10%);
}
.colum-2-customize .icon-nbd:hover {
  color: #fff;
}
.tab-scroll-customize {
  position: relative;
  height: 100px;
}
.label-color-customzie input[type=color] {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-left: 3px;
  cursor: pointer;
}

.label-color-customzie input[type=color]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
  padding: 0;
}

.label-color-customzie input[type=color]::-webkit-color-swatch-wrapper {
  border: none;
  border-radius: 50%;
  padding: 0;
}
.nbd-toolbar .toolbar-image .menu-item-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px 0;
  margin: 0 10px;
}
.main-customize {
  position: relative;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
.brush .nbd-sub-dropdown-customize ul li.active {
  background-color: #404762;
}
.brush .nbd-sub-dropdown-customize ul li.active span {
  color: #fff;
}
.main-customize .nbd-sub-dropdown-customize[data-pos="left"] {
  left: 0px;
  top: calc(100% + 7px);
  width: 100%;
}
.main-customize button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: none;
  overflow: visible;
  margin: 0;
  width: 100%;
}
.colum-3-customize label {
  margin-bottom: 0;
}
.colum-3-customize th {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
.colum-3-customize td:nth-child(3) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
.colum-3-customize .range-number {
  padding-bottom: 6px;
}
.table-customize-filter .range-number input[type="number"] {
  width: 40px;
  -moz-appearance: textfield;
  margin-left: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #3f4652;
  text-align: center;
}
.table-customize-filter
  .range-number
  input[type="number"]::-webkit-inner-spin-button,
.table-customize-filter
  .range-number
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.table-customize-filter .main-customize .slide-input {
  background-color: transparent;
  border: none;
  height: 7px;
  outline: none;
  padding: 0;
  position: relative;
  top: 45%;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-appearance: none;
  transform: translateY(-45%);
}
.table-customize-filter .main-customize .slide-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #404762;
  cursor: pointer;
}
.table-customize-filter .main-customize .slide-input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #404762;
  cursor: pointer;
}
.table-customize-filter .main-customize .range-track {
  background-color: #aaa;
  height: 2px;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  transform: translateY(-45%);
}
.table-customize {
  display: table;
}
/* .label-color-customzie {
    display: flex;
    align-items: center;
} */
.label-color-customzie label {
  display: flex;
}
.label-customize label {
  /* display: flex; */
  /* padding-right: 10px; */
  text-align: right;
  text-transform: capitalize;
  white-space: nowrap;
  font-weight: bold;
  font-size: 12px;
  align-items: center;
}
#image-fx-filter li:hover,
#image-fx-filter .active {
  border: 3px solid #3fc7ba;
  color: #3fc7ba;
}
#image-fx-filter .active span {
  color: #3fc7ba;
}
#image-fx-filter li > span {
  width: 100%;
  padding: 0 5px;
  border-radius: 2px;
  float: left;
  min-width: auto;
  position: absolute;
  left: 0px;
  top: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.customize-filter .range-spacing-customize {
  display: table-row;
  height: unset !important;
  align-items: center;
}
.customize-filter .main-track .slide-input {
  background-color: transparent;
  border: none;
  height: 7px;
  outline: none;
  padding: 0;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  z-index: 100;
  -webkit-appearance: none;
  transform: translateY(-45%);
}
.customize-filter .main-track .slide-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #404762;
  cursor: pointer;
}
.customize-filter .main-track .range-track {
  background-color: #aaa;
  height: 2px;
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  transform: translateY(-45%);
}
.range-number {
  padding: 0 5px;
}
@media screen and (max-width: 767px) {
  .customize-filter .main-track .slide-input::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 767px) {
  .customize-filter .main-track .slide-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
  }
}
.label-customize {
  padding: 5px;
}
.customize-filter .main-track .slide-input::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #404762;
  cursor: pointer;
}
/* .sub-menu-shape_mask, #image-fx-filter::-webkit-scrollbar {
    width: 12px;
} */
.sub-menu-shape_mask-customize {
  min-width: 305px !important;
}
.customize-filter .main-track {
  display: table-cell;
  position: relative;
  width: 100%;
  margin-top: -15px;
}
.customize-filter .range-spacing-customize input[type="number"] {
  width: 40px;
  -moz-appearance: textfield;
  margin-left: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #3f4652;
  text-align: center;
}
.customize-filter
  .range-spacing-customize
  input[type="number"]::-webkit-inner-spin-button,
.customize-filter
  .range-spacing-customize
  input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Track */
.sub-menu-shape_mask-customize,
#image-fx-filter::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
.sub-menu-shape_mask-customize,
#image-fx-filter::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.sub-menu-shape_mask-customize,
#image-fx-filter::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #fff;
}
.sub-menu-shape_mask-customize,
#image-fx-filter::-webkit-scrollbar {
  width: 6px;
  background-color: #fff;
}
.sub-menu-shape_mask-customize,
#image-fx-filter::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #aaa;
}
.popup-nbt-video-help .main-popup {
  padding: 0;
  width: 80%;
}
.popup-nbt-video-help .main-popup .head {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 1px solid #ddd;
  padding: 0 15px;
  color: #404762;
  text-align: center;
}
.popup-nbt-video-help .main-popup .body {
  text-align: center;
  font-size: 19px;
  margin: 10px 0px;
  padding: 0;
}

.popup-nbt-video-help .main-popup .main-body {
  padding: 15px;
  max-height: 500px;
  position: relative;
}
.popup-nbt-video-help .main-popup .close-popup {
  top: 7px;
}

.popup-nbt-video-help .main-popup .footer {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 16px;
  border-top: 1px solid #ddd;
  padding: 0px 8px;
}
.popup-nbt-video-help.nb-show {
  z-index: 10000005 !important;
}
.nbd-need-help{
  display: none;
}
.nbd-need-help .main-items .help {
  text-align: center;
}
.nbd-need-help .main-items .help svg {
  cursor: pointer;
}
.iframe-customize iframe{
  height: 500px;
}
.customize-circular{
  height: 15%;
}
#image-fx-filter li {
  max-width: 95px;
  height: 95px;
  background: url('../images/fx_thumbns.jpg') no-repeat;
  background-size: 552px 551px;
  font-size: 12px;
  color: #3a3a3a;
  cursor: pointer;
  margin: 0px;
  padding: 5px;
  margin-bottom: 20px;
  border: 3px solid #fafafa;
  position: relative;
  width: 33.33%;
  min-width: 50px;
}
/*resize*/
.sub-size-wrap .sub-content{
  height: 300px;
  overflow-y: auto;
}
.unit{
  display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.unit .nbd-button.btn-check{
  width: auto;
    min-width: auto;
    margin: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.unit .nbd-dropdown{
  width: 100%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: unset;
    font-size: 12px;
    text-transform: capitalize;
    background: #fff;
    border: 1px solid #ebebeb;
}
.unit .nbd-dropdown > span ,.unit .nbd-dropdown i.icon-nbd.icon-nbd-chevron-right{
  color: #404762;
}
.unit .nbd-dropdown .nbd-sub-dropdown{
  width: 100%;
    top: calc(100% + 5px);
}
.unit .nbd-dropdown .nbd-sub-dropdown ul{
  margin: 0;
}
.unit .nbd-dropdown .nbd-sub-dropdown ul li{
    line-height: 15px;
    padding: 7px 0;
}
.sub-menu.sub-change-size{
  width: 400px;
}
.custom-dimension{
  width: 100%;
  margin-top: 10px;
}
.custom-dimension .title-custom{
  padding: 0 5px;
}
.title-custom{
  font-size: 12px;
  font-weight: 600;
}
.dimension-box{
  padding: 15px 8px;
  display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(64,87,109,.07);
}
.dimension label{
  display: block;
  font-weight: 500;
    font-size: 13px;
}
.dimension input{
  width: 70px;
  padding: 5px;
    border-radius: 6px;
    font-size: 15px;
}
.search-product{
  position: relative;
}
.search-product .inp-search{
  width: 100%;
  padding: 10px 0;
  padding-left: 40px;
  font-size: 15px;
  border: 0;
  border-bottom: 1px solid #ebebeb;
}
.search-product .icon-search{
  position: absolute;
    top: 55%;
    left: 10px;
    transform: translateY(-50%);
}
.product-list{
  margin-top: 15px;
  padding: 15px 8px;
}
.nbd-main-bar ul.menu-left .sub-menu .product-list ul li:hover{
  background-color: rgba(64,87,109,.07);
}
.nbd-main-bar ul.menu-left .sub-menu .product-list ul li{
  background-color: transparent;
  transition: background-color .1s linear;
  font-size: 14px;
}
.nbd-main-bar ul.menu-left .sub-menu .product-list ul li:hover a{
  text-decoration: none;
}
.nbd-main-bar ul.menu-left .sub-menu .product-list ul li a{
  color: #404762;
  font-size: 14px;
}
.nbd-main-bar ul.menu-left .sub-menu .product-list ul li span.size{
  display: none;
  margin-left: 8px;
  color: rgba(30,41,51,.45);
  font-size: 10px;
}
.nbd-main-bar ul.menu-left .sub-menu .product-list ul li:hover span.size{
  display: inline-block;
}
.nbd-main-bar ul.menu-left .item-view .sub-menu.sub-change-size{
  padding: 0 0 10px 0;
  border-radius: 10px;
}