* {
   
}
#output {
   margin: 20px 0px;
    display: block;
}
#clipart label {
    display: block;
    font-weight: bold;
}
div#clipart {
    border-bottom: 1px solid #3339;
    padding-bottom: 30px;
}
