*{}

.porto-thumnail > div {
    position: absolute;
    bottom: 5%;
    list-style: none;
    background: #F4F5F6;
    border-radius: 10px;
    text-align: center;
    color: black;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 15px;
    width: 88%;
}

.porto-thumnail ul.navbuttons {
    overflow: scroll;
    height: 85%;
}

.porto-thumnail ul.navbuttons::-webkit-scrollbar {
    display: none;
}

.nbd-toolbar-zoom,
.toolbar-common {
    transform: translateX(-180px);
}

.zoom-left {
    transform: translateX(0);
}

.porto-thumnail {
	height: 100vh;
	position: absolute;
	background: white;
    width: 180px;
	z-index: 9999;
	right: 0px;
	top: 0;
	transform: translateX(0);
	transition: 0.5s;
    padding: 0 10px;
    overflow: scroll;
}

.porto-thumnail_button {
    position: absolute;
    top: 45%;
    /*left: -20px;*/
    right: 180px;
    height: 80px;
    width: 25px;
    line-height: 80px;
    background: white;
    text-align: center;
    border-radius: 31px 0px 0px 31px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.porto-thumnail_button span {
    font-size: 20px;
    color: black;
    transition: 0.5s;
}

.arrowCt {
    transform: rotate(180deg);
    display: block;
}

.hidde-show-thumnail {
	transform: translateX(180px);
}

.img-info {
	position: relative;
}

.img-info span {
	font-size: 15px;
    position: absolute;
    bottom: 0px;
    right: 12px;
    color: white;
}

.navbuttons li {
	list-style: none;
	background: #F4F5F6;
    /*padding: 15px;*/
    border-radius: 10px;
    text-align: center;
    color: black;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 15px;
}

/*task tiếp*/

.try_pro {
    background: #E6E6FA;
    color: #53535A;
    text-transform: capitalize;
    font-weight: 600;
}

.somchai-popup_body {
    height:615px;
    display: flex;
    justify-content: space-between;
}

.modal-header button {
    display: block !important;
    margin-top: 0;
    width: 30px;
    height: 30px;
    background: #484C52 !important;
    border-radius: 50%;
    color: white;
}

.somchai-popup_left {
    width: 40%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup_left-top {
    height: 90%;
    overflow: scroll;
    overflow-x: hidden;
}

.popup_left-bottom {
   text-align: center;
}

.popup_left-bottom button {
    border: none;
    background: #8B3DFF;
    padding: 10px 13px;
    width: 100%;
    border-radius: 3px;
}

.popup_left-bottom a {
    vertical-align: inherit;
    color: white;
    text-decoration: none;
}

.somchai-popup_left font {
    margin: 15px 0 20px 0;
    display: block;
}

.featuree li {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
}

.featuree .featue-check span {
    color: #00c4cc;
    margin-right: 6px;
}

.sc-warrnig {
    display: flex;
    background: #FFD7A8;
    padding: 10px 20px;
    align-items: center;
    border-radius: 3px;
}

.sc-warrnig_info a {
    color: black;
    text-decoration: revert;
}

.sc-warrnig_notification {
    font-weight: 600;
}

.somchai-popup_right {
   width: 60%;
} 

.btn-preview {
   background: #404762;
   padding: 10px 15px;
   border-radius: 2px;
   margin-right: 6px;
}

.btn-preview span {
    color: #fff !important;
}

#myModal{
   background: rgba(0,0,0,0.5);
   display: block;
   visibility: hidden; 
   transition: .4s;
   z-index: 99999;
}

.in {
   visibility: visible !important;
}

.fade.in{
   opacity: 1;
   transition: visibility .5s, opacity .5s linear;
}

.fade.in .modal-content {
   top: 58px;
}

.modal-content {
  width: 1000px;
  left: -33%;
  top: -33px;
  position: fixed;
  transition: all .4s;
}