.nbdesigner_background_link  > span{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #e24949;
    line-height: 20px;
    display: block;
    text-align: center;
    cursor: pointer;
    opacity: 0;
    color: #fff;
}
.nbdesigner_background_link:hover  > span{
    opacity: 1;
}
.nbdesigner_background_link {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 2px;
    display: inline-block;
    margin: 0px 5px 10px 0;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px 0 rgba(75,79,84,.3);
    -moz-box-shadow: 0 3px 10px 0 rgba(75,79,84,.3);
    -ms-box-shadow: 0 3px 10px 0 rgba(75,79,84,.3);
    box-shadow: 0 3px 10px 0 rgba(75,79,84,.3);
    border: none;
}
.nbd-toggle-background-view {
    display: inline-block;
    width: 16px;
    height: 16px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    -ms-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);  
    border: 2px solid #000;
    pointer-events: all;
    vertical-align: middle;
}
.nbd-toggle-background-view:focus, .nbd-toggle-background-view:active {
    outline: none;
}
.nbd-toggle-background-view.active {
    border-color: #e24949;
    pointer-events: none;
}
.nbd-toggle-background-view.black{
    background: #000;
}
.nbdesigner_background_link img {
    max-height: 100%;
    max-width: 100%;
}
.nbd-background-cat-name {
    border: 1px solid #ddd;
    padding: 0 10px;
    line-height: 18px;
    height: 20px;
    display: inline-block;
    border-radius: 30px;
    margin-left: 15px;
    font-weight: bold;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
    vertical-align: middle; 
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .nbdesigner-list-backgrounds-container .nbdesigner_background_link img {
        max-width: 100px;
    }    
}
#nbdesigner_cancel_add_bcakground_cat {
    margin-left: 15px;
}
.nbdesigner_action_delete_background_cat.active{
    background: rgba(30, 140, 190, .3); 
}
.nbdesigner_action_delete_background_cat {
    padding-left: 3px;
}